@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,400;1,600&display=swap');

:root {
    --cor-primaria: rgb(0, 0, 0);
    --cor-secundaria: rgb(255, 255, 255);
    --cor-terciaria: rgb(0, 220, 200);
    --cor-hover: rgb(27,27,27);

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrast', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 4.87% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
    
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;

}

.apresentacao__links__navegacao {
    /* background-color: rgb(0, 220, 200) ; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    width: 50%;
    padding: 21.5px 0;
    text-align: center;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);

}

.imagem__autor {
    border-radius: 24px;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    font-family:var(--fonte-secundaria);
    font-weight: 400;
}

@media (max-width: 1200px) {
    
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
        padding: 5%;
    }

    .apresentacao {
        flex-direction: column-reverse;
    }
    
    .apresentacao__conteudo {
        width: auto;
    }
}